@font-face{
    font-family: "Concert One";
    src: url(Fonts/Concert_One/static/EduAUVICWANTHand-SemiBold.ttf);
}

@font-face {
    font-family: "Roboto Slab";
    src: url(Fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf);
}

@font-face{
    font-family: "Oswald";
    src: url(Fonts/Oswald/Oswald/Oswald-VariableFont_wght.ttf);
}

body{
    /* home */
    /* font-family: "Concert One"; */
   
    /* skill */
    /* font-family: "Roboto Slab"; */

    /* about_me & navbar */
    /* font-family: "Oswald"; */

    background:bisque;
    /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)); */

}

/* Navbar --------------------------------------------------------------- */

img{
    max-width: 100%;
}

.barand_name {
    /* font-family: 'Concert_One_SemiBold'; */
    font-size: 40px;
    margin: 0;
}

a{
    font-family: "Oswald";
    color: #ff651c;
    text-decoration: none;
}

.text-primary{
    color: #ff651c !important;
}

.text-dark{
    color: #ff651c;
}

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    background: transparent;
    /* background: #fff; */
    background:skyblue;
    transition: 0.3s background;
}

.main-header .navbar{
    padding:  15px 0;
}

.main-header .navbar-nav  li {
    padding: 0 10px;
}

.main-header .navbar-nav  li  .nav-link {
    padding: 0 5px;
    line-height: 35px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: #555;
    letter-spacing: 3px;
    position: relative;
}

.main-header .navbar-nav  li  .nav-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    width: 0;
    height: 2px;
    background: #ff651c;
    transition: ease all 0.3s;
}

.main-header .navbar-nav  li  .nav-link:hover  {
    color: #ff651c;
}

.main-header .navbar-nav  li  .nav-link:hover::after {
    left: 0;
    right: auto;
    width: 100%;
}

.links {
    font-weight: bold;
}

.colored-btn{
    padding: 8px 20px;
    border: 2px solid #ff651c;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: ease all 0.3s;
    display: inline-block;
    background: #ff651c;
    color: #fff;
    box-shadow: 6px 6px 0 -1px  #555;
}

.colored-btn:hover {
    color: #fff;
    background: #555;
    border-color: #555;
    box-shadow: 5px 5px 0 -2px #ff651c;
}

/* Main ---------------------------------------------------------------*/

.bg-gary{
    background-color: #555 !important;
    /* background-color:aquamarine; */
}

.bg-dark {
    background-color: #555 !important;
}

main {
    position: relative;
    z-index: 1;
}

/* Home Section ---------------------------------------------------------------*/

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    font-family: "Concert One";
    /* background:black; */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    color:black;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-content p {
    font-size: 20px;
}

/* Home image */

.home-image img {
    height: 25pc;
    width: 25pc;
    object-fit: cover ;
    border-radius: 50%;
    border: .1rem solid white;
    box-shadow:
     0 0 1rem #fff,inset 0 0 1rem #fff,
     0 0 2rem #3877ff,inset 0 0 2rem #3877ff,0 0 .5rem #12f7ff;
    position: relative;
    z-index: -2 ; 
}

.icon1 {
    height: 2pc;
    width: 2pc;
    padding: 1px;
    margin: 5px;
	transition: 0.3s ease;

}

.icon1:hover {
    /* height: 2.5pc; */
    /* width: 2.5pc; */
    /* margin: 3px; */
	transform: scale(1.2)translateY(-10px);
}

/*  Skill Section ---------------------------------------------------------------*/

.skill {
    font-family: "Roboto Slab";
    /* background: #081b29; */
    background: black;
    /* background:blueviolet; */
    color: white;   
}

.heading1 {
    text-align: center;
    font-size: 60px;
    padding-bottom: 10px;
    padding-top: 50px;
}

.heading1 span {
    color: #ff651c;
}

.title span {
    color: #ff651c;
}

.container1 {
    width: 600px;
    height: 500px;
    padding: 30px 10px;
    margin-left: 120px;
    /* display: contents; */
    /* justify-content:space-between; */
}


.heading1_1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50ox;
    font-size: 40px;
}

.bar {
    font-size: 25px;
}

.Technical-bars .bar {
    margin: 40px 0;
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: 0;
}

.Technical-bars .bar .info {
    margin-bottom: 5px;
}

.Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.skill-left .bar .indfo{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.Technical-bars .bar .progress-link {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: rgb(204, 14, 14);
    margin-top: 10px;
    position: relative;
    border-radius: 25px;
    animation: animats is cubic-bezier(1,0,0,5,1) forwards;
    transform: scaleX(1);
    transform-origin: left;
}

.Technical-bars .bar .progress-link span {
    height: 100%;
    position: absolute;
    left: 0;
    background: #0ef;
    border-radius: 25px;
    box-shadow:0 0 .5rem #12f7ff;
    animation: animats 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(1);
    transform-origin: left;
}

.progress-link.html span {
    width: 80%;
}

.progress-link.css span {
    width: 40%;
}

.progress-link.javaScript span {
    width: 10%;
}

.progress-link.python span {
    width: 50%;
}

.progress-link.c span {
    width: 70%;
}

/* About_Me --------------------------------------------------------------- */

.heading2 {
    text-align: center;
    font-size: 80px;
    margin-bottom: 0px;
    padding-bottom: 50px;
    padding-top: 50px;  
}

.about_me {
    font-family: "Oswald";
    font-weight: 900;
    /* background: cornflowerblue; */
    /* background: darkorchid; */
    /* background: linear-gradient(rgb(5, 70, 249),rgb(2, 85, 252),rgb(42, 90, 186),rgb(111, 135, 182),rgba(255, 255, 255, 0.672)); */
    /* background: bisque; */
    background: rosybrown;
    color:black;
    
} 

.img-fluid {
    height: 20pc;
    width: 20pc;
    border-radius: 50%;
    /* border: 1px solid black; */
    box-shadow: 0 0 1rem #ff651c,inset 0 0 1rem #ff651c,
    0 0 2rem #ff651c,inset 0 0 2rem #fd6620,
    0 0 1rem red,inset 0 0 1rem red;
    z-index: -2 ; 
}

.container .about-main h1 {
    font-size: 50px;
}

.container .about-main h2 {
    font-size: 40px;
}

.container .about-main p {
    font-size: 18px;
}


/* contect  section --------------------------------------------------------------- */

.heading3 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 100px;  
}

.contacts {
    font-family: "Concert One";
    background: #000;
    color: white;
}

.contact-content    {
	display: flex;
	justify-content: space-between ;
	align-items: center;
	padding: 5% 15%;
    /* padding: 10px 20px; */
	gap: 10em;
}

span {
	color: orangered;
}

.child-contacts h3 {
	text-align: left;
	font-size: 20px;
	color: white;
}


.icon2 {
    height: 2pc;
    width: 2pc;
    padding: 1px;
    margin: 5px;
	transition: 0.3s ease;
}

.icon2:hover {
    font-size: 12px;
    transform: scale(1.2)translateY(-10px);
}


/* Footer --------------------------------------------------------------- */

.footer {
	/* position: relative; */
	justify-content: space-between;
    background:skyblue;
	display: flex;
	bottom: 0;
	width: 100%;
	padding: 1% 15%;
}

.icon3 {
    height: 1.5pc;
    width: 1.5pc;
    padding: 1px;
    margin: 5px;
}

.Social{
	padding-bottom: 25px;
	color: white;
    display: flex;
}

.footer .Social a{
	font-size: 25px;
    color: black;
	width: 40px;
	height: 40px;
	line-height: 38px;
	display: inline-block;
	text-align: center;
	margin: 0 8px;
	transition: 0.3s ease;
}

.footer .Social a:hover{
	transition: 0.3s ease;
    font-size: 30px;    
	transform: scale(1.2)translateY(-10px);
}

.footer ul li a{
	color: black;
	font-weight: 900;
	border-bottom: 3px solid transparent;
	transition: 0.5s ease;
}

.footer ul li a:hover{
	border-bottom: 2px solid orangered;
	transition: 0.5s ease;
}

.footer ul li{
	display: inline-block;
	padding: 0 15px;
}
